@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
  --primary: #00B3B9;
  --gray: #C0C0C0;
  --gray_2: #434A4F;
  --gray_3: #363D42;
  --gray_4: #2E3438;
  --white: #FFF;
  --dark: #242424;
  --border-color: rgba(255, 255, 255, 0.15);
  --main-height: calc(100vh - 56px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  padding: 16px 32px;
  background: var(--gray_4);
  height: 56px;
  width: 100vw;
}

.directions-wrapper {
  margin-top: 56px;
  display: flex;
  font-family: "Noto Sans TC";
  color: var(--gray);
  font-size: 1rem;
  background-color: #363D42;
}

article.directions {
  margin-left: 300px;
  width: calc(100vw - 300px);
  min-width: 890px;
  padding: 30px 64px 36px;
  display: flex;
  flex-direction: column;
}

menu.directions {
  position: fixed;
  top: 56px;
  z-index: 1;
  left: 0;
  padding: 0 20px 16px;
  margin: 0;
  height: var(--main-height);
  width: 300px;
  background-color: var(--gray_4);
  overflow-x: hidden;
}

.directions-sidebar {
  height: 100%;
  padding-bottom: 1rem;
}

h1, h2, h3, p {
  margin: 0;
}

h1.directions, h2.directions {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}


h1.directions {
  color: var(--primary);
}

.title-hr {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-hr::after {
  content: '';
  flex: 1;
  border: 1px solid var(--border-color);
  height: 0px;
}

h2.directions, h3.directions {
  color: var(--white);
}

h3.directions {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

ul.directions li{
  color: var(--gray);
}

ul.directions, p.directions {
  margin: 0 0 2.25rem;
  line-height: 32px;
}

p.directions {
  color: var(--gray);
}

p.directions.bg {
  margin-bottom: 1rem;
  padding: 1rem;
  background: var(--gray_2);
}

figure.directions{
  margin: 0 0 2.25rem;
  max-width: 100%;
}

figure.directions img{
  max-width: 100%;
}

figure.directions figcaption{
  font-size: 14px;
  color: var(--gray);
}

/* utils */
.gap-2 {
  gap: 8px !important;
}
